# From .NET Core 3.0 you can use the command: `dotnet new gitignore` to generate a customizable .gitignore file

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# But include release artifacts in the root
!XtraScrapper-v*.zip
!XtraScrapper-v*.zip.sha256
!RELEASE-NOTES-v*.md

# XtraImageScrapper cache and logs
*.db
*.log

# Visual Studio 2015
.vs/

src\XtraScrapper\*
src\XtraScrapper\roms\

**/*.dat

[Rr]oms/
[Rr]om/

*.log